@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

body {
  font-family: 'Poppins', sans-serif;

}

.carouselimg {
  height: 300px;
  object-fit: contain;
  max-width: 100%;
}
#we{
  font-weight: 300;
  color: #000000;
}
.navbar-brand>span {
  color: #272727;
  font-weight: 700;
  font-size: 24px;
}
/* #break{
  color: rgb(77, 73, 73);
  font-weight: 500;
} */

.conatanier {

  width: 96%;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.conatanier2 {

  width: 96%;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#sana {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#sana:hover {
  color: rgb(248, 150, 70);
}

.btn1 {
  height: 50px;
  width: 150px;
  background-color: rgb(248, 150, 70);
  color: aliceblue;
  transition: all .2s ease-in-out;
  border: none;
}

.btn3 {
  color: rgb(107, 183, 190);
  transition: all .2s ease-in-out;
  border: 1px solid  rgb(107, 183, 190);
  display: flex ;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 50px;
  width: 50px;
}

.btn3:hover {
  color: rgb(248, 150, 70);
  cursor: pointer;
  border: 1px solid  rgb(248, 150, 70);
}

.btn1:hover {
  background-color: transparent;
  border: 1px solid rgb(248, 150, 70);
  color: rgb(248, 150, 70);
}

.btn2:hover {
  background-color: transparent;
  border: 1px solid rgb(107, 183, 190);
  color: rgb(107, 183, 190);
}

.btn2 {
  height: 50px;
  width: 150px;
  background-color: rgb(107, 183, 190);
  color: aliceblue;
  transition: all .2s ease-in-out;
  border: none;
}

a {
  text-decoration: none;

}
@media (max-width:576px){
  #broken-star{
    margin-top: 20px;
margin: 10px;
padding-top: 20px;

  }
}
@media (max-width:576px){
  #broken-star2{

height: 150px;
width: 150px;
display: flex;
align-items: center;
justify-content: center;

  }
}